.thanks {
  font-size: 1.3em;
}

.sponserImg {
  width: 100%;
}

.zapata {
  width: 30%;
  display: inline-block;
}

.tsd {
  width: 30%;
  display: inline-block;
  margin-left: 5%;
}

.gull {
  width: 30%;
  display: inline-block;
  margin-left: 5%;
}

.gnpg {
  width: 30%;
  display: inline-block;
  margin-top: 5%;
}
