@import url('https://fonts.googleapis.com/css?family=Abel');

.naples {
  float: right;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-right: 5%;
  margin-bottom: 3%;
}

.blogP1 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 5%;
}

.blogB1 {
  float: left;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: 4px 4px 0px rgba(38,37,38, 1);
}


.ecuador {
  float: left;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-left: 5%;
  margin-bottom: 3%;
}

.blogP2 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 45%;
}

.blogB2 {
  float: right;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: 4px 4px 0px rgba(38,37,38, 1);
}

.title {
  font-size: 2em;
  font-family: 'Abel', sans-serif;
  text-align: center;
  margin-bottom: 0%;
}

.subTitle {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.date {
  text-align: center;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Abel', sans-serif;
  margin-bottom: 3%;
}

.blogP3 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 5%;
}

.blogB3 {
  float: left;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: 4px 4px 0px rgba(38,37,38, 1);
}

.Vegas1 {
  float: right;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-right: 5%;
  margin-bottom: 3%;
}

.blogP4 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 45%;
}

.blogB4 {
  float: right;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: 4px 4px 0px rgba(38,37,38, 1);
}

.vegasFriends {
  float: left;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-left: 5%;
  margin-bottom: 3%;
}

.Vegas2 {
  float: right;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-right: 5%;
  margin-bottom: 3%;
}

.blogP5 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 5%;
}

.blogB5 {
  float: left;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: 4px 4px 0px rgba(38,37,38, 1);
}

.Vegas3 {
  float: left;
  display: inline;
  width: 33.7vw;
  height: 33vh;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-left: 5%;
  margin-bottom: 3%;
}

.blogP6 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 45%;
}

.blogB6 {
  float: right;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: 4px 4px 0px rgba(38,37,38, 1);
}

.straya {
  float: right;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-right: 5%;
  margin-bottom: 3%;
}

.blogP7 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 5%;
}

.blogB7 {
  float: left;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: 4px 4px 0px rgba(38,37,38, 1);
}

.straya2 {
  float: left;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-right: 5%;
  margin-bottom: 3%;
}

.blogP8 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 45%;
}

.blogB8 {
  float: right;
  margin-bottom: 10%;
  width: 100%;
  box-shadow: 4px 4px 0px rgba(38,37,38, 1);
}

.slideHome1 {
  width: 100%;
}

.vid1 {
  width: 33%;
  margin-left: 33%;
  margin-bottom: 3%;
}


#rightArrow {
  color: black;
  margin-right: 30%;
  font-size: 2em;
  display: inline;
  float: right;
  margin-bottom: 3%;
}

#leftArrow {
  color: black;
  margin-left: 30%;
  font-size: 2em;
  display: inline;
  float:left;
  margin-bottom: 3%;
}


@media only screen and (max-width: 960px) {
  .Vegas3 {
    float: left;
    display: inline;
    width: 35.5vw;
    height: 26vh;
    box-shadow: 8px 8px 0px rgba(38,37,38, 1);
    margin-left: 5%;
    margin-bottom: 3%;
  }
}

@media only screen and (max-width: 720px) {
  .Vegas3 {
    float: left;
    display: inline;
    width: 35.5vw;
    height: 19.5vh;
    box-shadow: 8px 8px 0px rgba(38,37,38, 1);
    margin-left: 5%;
    margin-bottom: 3%;
  }
}


@media only screen and (max-width: 480px) {
  .Vegas3 {
    float: left;
    display: inline;
    width: 34vw;
    height: 12.5vh;
    box-shadow: 8px 8px 0px rgba(38,37,38, 1);
    margin-left: 5%;
    margin-bottom: 3%;
  }
}
