@import url('https://fonts.googleapis.com/css?family=Abel');

.naples {
  float: right;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-right: 5%;
}

.blogP1 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 5%;
}

.blogB1 {
  float: left;
  margin-bottom: 10%;
  width: 100%;
}


.ecuador {
  float: left;
  display: inline;
  width: 33%;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-right: 5%;
}

.blogP2 {
  font-size: 1.4em;
  font-family: 'Abel', sans-serif;
  color: rgb(38,37,38);
  font-weight: 600;
  margin-left: 45%;
}

.blogB2 {
  float: right;
  margin-bottom: 10%;
  width: 100%;
}
